.scroll_page{
  position: relative;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.run{
  overflow: hidden;
}
.run_img{
  width: 100%;
  transition: 0.5s;
}
.run:hover .run_img, .run:focus .run_img{
  transform: scale(1.1);
}

.image_store{
  min-height: 33px;
  background-image: url(/public/img/Icons/STORE.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.menu{
  padding: 10px 0;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.menu a{
  margin-right: 55px;
  font-weight: 400;
}

.menu :last-child{
  color: rgba(180, 48, 48, 1);
  font-weight: 600;
  margin-right: 0;
}

.top_sale{
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
}
.top_sale a{
  flex:1 1 auto;
  max-width: 100%;
  min-width:20%;
}



.top_brands{
  display: flex;
  width: 100%;
  margin: 10px 0;
  flex-wrap: wrap;
  gap:10px;
}

footer{
  bottom: 0;
  position: sticky;
  z-index: 0;
  min-height: 100%;
}

.subscribe_block{
  border-bottom: rgb(0, 0, 0) 1px solid;
}

.subscribe_block p{
  font-size: 4vw;
  font-weight: 500;
  padding-top: 200px;
  padding-left: auto;
  padding-bottom: 40px;
}

.subscribe_button{
  display: flex;
  height: 50px;
  width: 300px;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  margin-bottom: 82px;
}

.subscribe_button span{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: rgb(255, 255, 255);
}

.info_block{
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 28px;
}

.block_information h3{
  margin-top: 22px;
  margin-bottom: 14px;
}

.block_information ul{
  text-transform: capitalize;
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 2em;
}

.block_information ul li a{
  font-size: 15px;
}

@media (max-width:770px) {
  .menu a{
    font-size: 4vw;
  }
  .block_information{
    min-width: 50%;
  }
  .top_sale a{
    min-width:40%;
  }
  .subscribe_block p{
    font-size: 6vw;
  }
}

@media (max-width:1550px) {
  .top_sale a{
    min-width:40%;
  }
}