
.top_sale_card{
  background-color: #F3F3F3;
  text-align: center;
}

.top_sale_card p{
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.top_sale_card :first-child{
  padding-top: 53px;
  padding-bottom: 20px;
}

.top_sale_card :last-child{
  padding-top: 25px;
  padding-bottom: 90px;
}

.top_sale_card img{
  margin-top: 128px;
  max-width:375px;
}

@media (max-width:800px) {
  .top_sale_card img{
    max-width:100%;
  }
}